# custom files
.env

# folders
.git/*
.venv/*
dvenv/*
temp/*
data/*
*-data/*
data-*/*
configs/*
.configs/*
.jsons/*
llmexer/.jsons/*
.experiments/*
.projects/*

# extentions
*.env
*.csv
*.txt
*.json



